/* footer.css */

/* Estilos generales para el footer */
.footer {
    background-color: rgba(192, 70, 213, 0.62); /* #c046d59e convertido a rgba */
    color: white;
    padding: 1rem 2rem; /* Mantiene el padding en rem para mayor escalabilidad */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye el espacio entre elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh; /* Asegura que ocupe al menos el 10% del alto de la pantalla */
}

/* Estilos para los elementos dentro del footer */
.footer .separator {
    border-left: 1px solid #d3d3d3;
    height: 50%;
    margin: 0 1rem; /* Espacio alrededor del separador */
}

.footer .cc-license {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7) !important;
    display: flex;
    align-items: center;
    word-break: break-word; /* Evita que el texto se desborde */
}

/* Estilos para párrafos dentro del footer */
.footer p {
    margin: 0;
    padding-right: 1rem;
    font-size: 1rem; /* Ajusta el tamaño de fuente */
    word-break: break-word; /* Evita que el texto se desborde */
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 576px) {
    .footer {
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: flex-start; /* Alinea a la izquierda en pantallas pequeñas */
        justify-content: center;
        padding: 0.75rem 1rem; /* Reduce el padding para adaptarse a pantallas pequeñas */
        min-height: auto; /* Permite que la altura se ajuste al contenido */
    }

    .footer p, .footer a.cc-license {
        font-size: 0.8rem; /* Reduce el tamaño de fuente en pantallas pequeñas */
        text-align: center; /* Centra el texto */
    }

    .footer .separator {
        display: none; /* Oculta el separador en pantallas pequeñas */
    }
}
