    <!-- Footer -->
    <footer class="footer mt-auto d-flex align-items-center justify-content-center py-3">
        <small class="text-center d-flex align-items-center">
            <p class="text-center m-0 d-flex align-items-center">
                &copy;2024 Dirección Nacional de Tecnologías para la Educación | Desarrollado por: Jeremy David Torres
            </p>
            <span class="mx-3" style="border-left: 1px solid #d3d3d3; height: 50%;"></span>
        </small>
        <small class="text-center d-flex align-items-center">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank"
                rel="noopener noreferrer" class="text-light"
                style="font-size: 0.9rem; color: rgba(255, 255, 255, 0.7) !important; display: flex; align-items: center;">
                Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International
            </a>
        </small>
    </footer>